[submodule "ci-box-lava-worker"]
	path = ci-box-lava-worker
	url = https://github.com/ci-box/ci-box-lava-worker
[submodule "ci-box-lava-master"]
	path = ci-box-lava-master
	url = https://github.com/ci-box/ci-box-lava-master
[submodule "ci-box-fileserver"]
	path = ci-box-fileserver
	url = https://github.com/ci-box/ci-box-fileserver
[submodule "ci-box-squad"]
	path = ci-box-squad
	url = https://github.com/ci-box/ci-box-squad
[submodule "ci-box-jenkins"]
	path = ci-box-jenkins
	url = https://github.com/ci-box/ci-box-jenkins
