{% extends "base-uboot.jinja2" %}

{% set console_device = console_device|default("ttyS0") %}

{% set base_high_limits = False %}
{% if extra_kernel_args %}
{% set extra_kernel_args = "rootwait " + extra_kernel_args %}
{% else %}
{% set extra_kernel_args = "rootwait" %}
{% endif %}
{% set extra_nfsroot_args = ",vers=3" + extra_nfsroot_args|default('') %}

# Uboot custom settings
{% set bootloader_prompt = bootloader_prompt|default("=>") %}
{% set append_dtb = false %}
{% set uboot_load_fdt = "tftpboot {DTB_ADDR} {DTB}" %}
{% set uboot_tftp_commands = [
        "tftpboot {KERNEL_ADDR} {KERNEL}",
        "tftpboot {RAMDISK_ADDR} {RAMDISK}",
        "setenv initrd_size ${filesize}",
	"tftpboot {DTB_ADDR} {DTB}"]
-%}

{% set uboot_method_fit = false %}
{% set booti_device_tree_config = "1" %}
{% set uboot_mkimage_arch = "arm64" %}
{% set booti_kernel_addr =  "0x82000000" %}
{% set booti_ramdisk_addr = "0x84a00000" %}
{% set booti_dtb_addr =     "0x84100000" %}
{% set uboot_bootx_cmd = "booti {KERNEL_ADDR} {RAMDISK_ADDR} {DTB_ADDR}" %}
