{% extends 'dragonboard-410c.jinja2' %}

{% set hard_reset_command = '/bin/true' %}
{% set pre_os_command = '/bin/true' %}
{% set power_off_command = '/bin/true' %}
{% set power_on_command = '/bin/true' %}

{% set connection_command = 'ftdi-connect DAVN5CCZ' %}

{% set fastboot_serial_number = '430d3c68' %}
{% set device_info = [{'board_id': '430d3c68'}] %}
{% set adb_serial_number = '430d3c68' %}
{% set pre_power_command= 'sleep 0' %}

{% set flash_cmds_order = ['update','ptable','partition','hyp','modem',
'rpm', 'sbl1','sbl2','sec','tz','aboot','boot','rootfs','vendor','system',
'cache','userdata'] %}
