{% extends 'dragonboard-410c.jinja2' %}

{% set pre_power_command= 'sleep 0' %}
{% set pre_os_command = '/bin/true' %}
{% set power_off_command = '/bin/true' %}
{% set power_on_command = '/bin/true' %}

{% set hard_reset_command = ['/usr/local/lab-scripts/snmp_pdu_control --hostname 192.168.42.2 --command reboot --port 3 --delay 20'] %}
{% set power_on_command = '/usr/local/lab-scripts/snmp_pdu_control --hostname 192.168.42.2 --command on --port 3' %}
{% set power_off_command = ['/usr/local/lab-scripts/snmp_pdu_control --hostname 192.168.42.2 --command off --port 3'] %}

{% set connection_command = 'ftdi-connect DA1G0MME' %}

{% set fastboot_serial_number = '16684541' %}
{% set device_info = [{'board_id': '16684541'}] %}
{% set adb_serial_number = '16684541' %}

{% set flash_cmds_order = ['update','ptable','partition','hyp','modem',
'rpm', 'sbl1','sbl2','sec','tz','aboot','boot','rootfs','vendor','system',
'cache','userdata'] %}
